boto3==1.43.90
botocore==1.43.90
cloudpickle==3.1.2
colorama==0.4.6
jmespath==1.1.0
joblib==1.6.0
narwhals==2.26.0
numpy==2.4.6
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5_sip==12.19.0
pyqtgraph==0.14.0
pyserial==3.5
pysls==1.2.0
python-dateutil==2.9.0.post0
s3transfer==0.19.2
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
urllib3==2.7.0